#root {
	--route-color: hsl(210, 100%, 75%);
	--disabled-color: hsl(0, 0%, 55%);
	--urgent-color: hsl(0, 100%, 65%);
	--warning-color: hsl(15, 100%, 65%);
	--info-color: hsl(30, 100%, 65%);
	--light-text-color: hsl(0, 0%, 75%);
	--panel-background-color: hsl(225, 25%, 8%);

	margin: 0;
}

.hide-mouse-cursor {
	cursor: none;
}

.hide-screen {
	opacity: 0%;
}

.toolbar {
	text-align: center;
	grid-area: toolbar;
}

.toolbar-hidden {
	display: none;
}

header {
	margin: 0.3rem;
	grid-area: header;
}

main {
	display: grid;
	grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);
	grid-template-rows: auto auto minmax(0, 1fr) auto;
	grid-template-areas:
		"toolbar toolbar"
		"header  header"
		"main1   main2"
		"footer  footer";
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	padding: 0.3rem;
	gap: 0.2rem;
}

section {
	background-color: var(--panel-background-color);
	border-radius: 1.4rem;
	overflow: hidden;
}

footer {
	font-size: 0.5em;
	font-weight: 400;
	grid-area: footer;
}

footer div {
	font-size: 1.5em;
	margin: 0.3rem;
	color: hsl(0, 0%, 70%);
}

footer div::before {
	content: '⚠️';
	margin-right: 0.5em;
}

footer em {
	font-weight: 300;
}

.weather-display-section {
	display: grid;
	grid-area: main1;
}

.weather-forecast-list {
	display: flex;
	flex-direction: column;
	gap: 0.15rem;
	grid-area: main2;
}

.weather-forecast-list>section {
	flex: 1;
	display: grid;
}

.weather-radar {
	grid-area: main2;
}

.loading-spinner {
	--loader-size: 2em;
	--loader-thickness: 0.5em;

	display: inline-block;
	width: var(--loader-size);
	padding: var(--loader-thickness);
	margin: var(--loader-thickness);
	background: white;
	aspect-ratio: 1;
	border-radius: 50%;
	mask:
		conic-gradient(transparent, black) subtract,
		conic-gradient(black 0 0) content-box;
	animation: loading 2s linear infinite;
}

@keyframes loading {
	to {
		rotate: 1turn
	}
}

@media screen and (max-width: 800px) {

	main {
		grid-template-columns: initial;
		grid-template-rows: auto auto auto auto auto;
		grid-template-areas:
			"toolbar"
			"header"
			"main1"
			"main2"
			"footer";
		height: initial;
	}

}