#root {
	margin: 0 auto;
	--route-color: hsl(210, 100%, 75%);
	--disabled-color: hsl(0, 0%, 55%);
	--urgent-color: hsl(0, 100%, 65%);
	--warning-color: hsl(15, 100%, 65%);
	--info-color: hsl(30, 100%, 65%);
}

.hide-mouse-cursor {
	cursor: none;
}

.toolbar {
	text-align: center;
}

.toolbar-hidden {
	display: none;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.2em 0.5em;
	margin: 0;
	font-size: 1em;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.1em 0.1em;
}

main:has(> :nth-child(2):last-child) {
	grid-template-columns: 2fr 1fr;
	font-size: 0.8em;
}

main:has(> :nth-child(2):last-child) h1 {
	margin: 0.1em 0;
}

main:empty {
	display: none;
}

footer {
	font-size: 0.5em;
	font-weight: 400;
}

article {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: #181818;
	border: 2px solid black;
	padding: 0.5em;
	margin: 0.1em;
	font-size: 1em;
}

article:first-child {
	border-top-right-radius: 2em;
	border-top-left-radius: 2em;
}

article:last-child {
	border-bottom-right-radius: 2em;
	border-bottom-left-radius: 2em;
}

article>div,
header>div {
	font-size: 2em;
	margin: 0.1em;
	flex: 1;
	margin: 0.1em 0.2em;
}

article>div:last-child,
header>div:last-child {
	font-size: 2em;
	margin: 0.1em;
	text-align: right;
	color: white;
}

article>div:last-child {
	flex: 0;
}

header>div:last-child {
	flex: none;
}

article>div:first-child,
header>div:first-child {
	font-size: 2em;
	margin: 0.1em;
	flex: none;
}

section.radar {
	display: flex;
	align-items: stretch;
}

section.radar>article {
	padding: 0;
	overflow: clip;
	width: 100%;
	min-height: 420px;
}

section.radar>article>div {
	margin: 0;
}

footer div {
	margin: 0.55em 2em;
	color: hsl(0, 0%, 70%);
}

footer div::before {
	content: '⚠️';
	margin-right: 0.5em;
}

footer em {
	font-weight: 300;
}

@media screen and (max-width: 800px) {

	main,
	main:has(> :nth-child(2):last-child) {
		grid-template-columns: initial;
		grid-template-rows: auto auto;
	}

}