:root {
  font-family: "Radio Canada", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 3em;
  font-variant-numeric: lining-nums proportional-nums;

  background: black;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

button {
  border-radius: 1.2em;
  border: 2px solid #444;
  padding: 0.6em 1.2em;
  font-family: inherit;
  font-size: 0.5rem;
  background-color: #181818;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@keyframes jitter {

  0%,
  100% {
    transform: translateX(-5px) translateY(-5px);
  }

  25% {
    transform: translateX(5px) translateY(-5px);
  }

  50% {
    transform: translateX(5px) translateY(5px);
  }

  75% {
    transform: translateX(-5px) translateY(5px);
  }
}

@keyframes flash-burnin {

  0%,
  /* approx. 599/600 */
  99.8%,
  100% {
    opacity: 1;
  }

  99.9% {
    opacity: 0;
  }
}

@media screen and (max-width: 800px) {

  :root {
    font-size: 2em;
  }

}

@media screen and (min-width: 800px) and (max-width: 1200px) {

  :root {
    font-size: 2.5em;
  }

}

@media screen and (min-width: 800px) {

  body {
    animation: 60s linear infinite jitter;
  }

  body>div {
    animation: 900s linear infinite flash-burnin;
  }

}