/* Only display the first two instances in the list */
.minutes-display:not(:first-child, :nth-child(2)) {
	display: none;
}

/* Show a comma after the first instance but not if it's the only instance */
.minutes-display:first-child:not(:last-child):after {
	content: ", ";
	font-weight: 500;
}

.minutes-until {
	font-weight: 700;
	font-variant-numeric: tabular-nums;
	vertical-align: middle;
}

.has-not-left-terminus {
	font-size: 0.94em;
	letter-spacing: 0.04em;
	font-weight: 300;
}

.imminent {
	color: var(--urgent-color);
}

.very-soon {
	color: var(--warning-color);
}

.soon {
	color: var(--info-color);
}
