.maplibregl-control-container {
	font-family: "Radio Canada", sans-serif;
	font-size: 0.3rem;
}

.maplibregl-ctrl-bottom-right {
	width: 100%;
	display: flex;
	justify-content: center;
}

.maplibregl-ctrl.maplibregl-ctrl-attrib {
	background: hsla(0, 0%, 0%, 80%);
	color: hsla(0, 0%, 100%, 60%);
}

.maplibregl-ctrl-attrib a {
	color: hsla(0, 0%, 100%, 80%);
}