.weather-display {
    display: grid;
    grid-template-rows: auto auto minmax(0, 1fr);
    overflow: hidden;
    word-break: break-all;
    hyphens: auto;
}

.weather-display>div {
    padding: 0.2rem 0.6rem;
}

.weather-display>div:first-child {
    padding-top: 0.6rem;
}

.weather-display>div:last-child {
    padding-bottom: 0.6rem;
}

.weather-display-icon-temp {
    display: grid;
    grid-template-columns: minmax(0, 100%) 1fr;
    align-items: center;
    justify-content: space-between;
}

.weather-display-icon-temp>.weather-emoji {
    padding: 0.2em;
    border-radius: 10em;
    overflow: visible;
    background-color: rgba(0, 0, 0, 60%);
}

.weather-display-icon-temp {
    font-size: 2.5em;
}

.weather-display-icon-temp>div {
    font-size: 1.3em;
}

.weather-display-description {
    font-size: 2em;
}

.weather-display-subtitle {
    font-size: 1.3em;
    color: var(--light-text-color);
    margin-left: 0.1em;

    display: flex;
    flex-flow: column wrap;
}
