.forecast-hour {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 1.5em;
    padding: 0.2rem 0.6rem;
    align-items: center;
}

.forecast-hour-time {
    font-size: 0.75em;
    font-weight: 400;
    font-variant-numeric: tabular-nums;
    color: var(--light-text-color);
}

.forecast-hour-emoji {
    display: grid;
    grid-template-areas: "overlapped_space";
    justify-content: center;
    align-self: stretch;
}

.forecast-hour-emoji>img,
.forecast-hour-emoji-badge {
    grid-area: overlapped_space;
}

.forecast-hour-emoji>img {
    align-self: center;
}

.forecast-hour-emoji-badge {
    font-size: 0.33em;
    font-weight: 400;
    background-color: hsl(from var(--panel-background-color) h s calc(l * 0.5) / 75%);
    border-radius: 2ex;
    backdrop-filter: blur(0.25ex);
    padding: 0 0.5ex;
    align-self: flex-end;
    justify-self: center;
}

.forecast-hour-temp {
    text-align: center;
}